.header {
    display: flex;
    background-image: url("/header.png");
    min-height: 300px;
    background-size: cover;
}


/* The navbar */

/* Navbar links */
.topnav a {
    color: #2C6EF1;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.5rem;
}

.topnav a:hover {
    background-color: #5D75AD;
    color: black;
}