.header {
    background-image: url("/header.png");
    min-height: 350px;
    background-size: cover;
}


/* The navbar */
.topNav {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding: 230px 85px 0 0;
}

/* Navbar links */
.topNav a {
    color: #2C6EF1;
    text-decoration: none;
    font-size: 1.5rem;
}

.topNav a:hover {
    background-color: #5D75AD;
    color: black;
}