@import url(header.css);

@import url(style.css);

@import "@udacity/veritas-components/dist/styles/index.scss";

.container {
    display: grid;
}



.main {
    color: white;
    display: grid;
    gap: 10px;
    grid-template: 4 / 2;
    grid-auto-rows: minmax(100%, auto);
    grid-template-areas:
        "left . ."
        "main main main"
        "right right"
        "ft ft ft";
}

.icons {
    grid-column: 1;
    width: 50%;
}

.main-content {
    background-color: #2c6ef1;
    border: 3px solid white;
    grid-column: 2;
}

.right-aside {
    grid-column: 1;
    width: 75%;
}

footer {
    background-color: #2c6ef1;
    border: 3px solid white;
    grid-column: 2;

}

aside {
    background-color: #2c6ef1;
    border: 3px solid white;
}